/*
* Version: 1.0
* @Author: Andres Morelos
* @Date: 24/12/2017
* @Email: andresmorelos123@gmail.com
*/

// Colors
$white: #ffffff !default;
$blue-phone: #3b7ce5 !default;
$color-brands: #505050 !default;
$color-globe: #7fbffb !default;
$facebook-color : #3B5998;
$twitter-color : #1DA1F2;
$instagram-color : #C63091;
$green-ligthing: rgb(134, 224, 120) !default;
$blue-ligthing: rgb(95, 174, 240) !default;
$orange-ligthing: rgb(241, 198, 104) !default;
$red-ligthing: rgb(249, 112, 112) !default;
$purple-ligthing: rgb(177, 123, 246) !default;

// Backgrouds
$background-navbar: linear-gradient(#fff, #eff4fa) !default;
$background: #182A2C !default;
$background-header: #515e6d !default;
$background-brands: rgba(#ececec, 0.73) !default;
$background-location: #e1e1e1 !default;
$background-default: #fafafa !default;

// Border Colors
$border-color-navbar: #e7e7e7 !default;
