$background: #182A2C !default;
$white: #ffffff !default;
$blue-phone: #3b7ce5 !default;
$background-header: #515e6d !default;
$background-brands: rgba(#ececec, 0.73) !default;
$color-brands: #505050 !default;
$background-location: #e1e1e1 !default;
$color-globe: #7fbffb !default;
$facebook-color : #3B5998;
$twitter-color : #1DA1F2;
$instagram-color : #C63091;
